* {
   box-sizing: border-box;
 }
 
 /* Custom Fonts */
 
 @font-face {
   font-family: 'StoryBook';
   src: url('./fonts/Storybook.TTF') format('truetype');
 }
 
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 body {
   background: linear-gradient(to bottom, #f8f8f8, #3b466e 50%);
 }
 
 /* Header Component Styles */
 
 .header--container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 30vh; /* Adjust the height as needed */
   padding-top: 20px; /* Add space from the top */
 }
 
 .header--container {
   opacity: 0;
   animation: fade-in 4s forwards;
 }
 
 @keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 
 .header--title {
   font-family: StoryBook, sans-serif;
   font-size: 90px;
   color: #303138;
   text-shadow: 2px 2px 4px #394263;
   letter-spacing: 2px;
   margin-top: 150px;
 }
 
 /* Cardinals Logo below H1 */
 
 .header--image {
   width: 300px; /* Adjust the width as needed */
   height: auto;
 }
